<div class="posts-container">
    <div class="card-header">
        <h2>Post</h2>
        <button><a href="/">Back</a></button>
    </div>
    <div class="post-wrapper">
        <div class="individual-post">
            <h2>
                {{post.post_title}}
            </h2>
            <h4>posted by: {{post.user.username}} on {{format_date post.createdAt}} </h4>
            <p>
                {{post.post_text}}
            </p>
            {{#if loggedIn}}
            <button><a href="/update/{{post.id}}" id="updateBtn">Update Post</a></button>
            <button><a href="" id="deleteBtn">Delete Post</a></button>
            {{/if}}
        </div>
        {{#if post.comments}}
        {{#each post.comments as |comment|}}
        <div class="comments-wrapper">
            <div class="individual-comment">
                <h4>Comments:</h4>
                <h5>{{this.user.username}} on {{format_date this.created_at}}</h5>
                <p>{{this.comment_text}}</p>
            </div>
        </div>
        {{/each}}
        {{/if}}
        {{#if loggedIn}}
        <section class="individual-post">
            <form autocomplete="off" id="comment-form">
                <label for="comment">
                    <h3>Add a comment</h3>
                </label>
                <input name="comment" type="text" id="comment" placeholder="Add a comment">
                <button type="submit" name="comment" id="comment-btn">Comment</button>
            </form>
        </section>
        {{/if}}
    </div>
</div>

<script src="/delete.js"></script>
<script src="/comment.js"></script>